/* =========== Padding =========== */
.p-0 {
    padding: 0px;
}

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.p-3 {
    padding: 30px;
}

.p-4 {
    padding: 60px;
}

.p-5 {
    padding: 80px;
}

.p-6 {
    padding: 100px;
}

.pt-1 {
    padding-top: 5px;
}

.pt-2 {
    padding-top: 10px;
}

.pt-3 {
    padding-top: 30px;
}

.pt-4 {
    padding-top: 60px;
}

.pt-5 {
    padding-top: 80px;
}

.pt-6 {
    padding-top: 100px;
}

.pb-1 {
    padding-bottom: 5px;
}

.pb-2 {
    padding-bottom: 10px;
}

.pb-3 {
    padding-bottom: 30px;
}

.pb-4 {
    padding-bottom: 60px;
}

.pb-5 {
    padding-bottom: 80px;
}

.pb-6 {
    padding-bottom: 100px;
}

.pl-1 {
    padding-left: 5px;
}

.pl-2 {
    padding-left: 10px;
}

.pl-3 {
    padding-left: 30px;
}

.pl-4 {
    padding-left: 60px;
}

.pl-5 {
    padding-left: 80px;
}

.pl-6 {
    padding-left: 100px;
}

.pr-1 {
    padding-right: 5px;
}

.pr-2 {
    padding-right: 10px;
}

.pr-3 {
    padding-right: 30px;
}

.pr-4 {
    padding-right: 60px;
}

.pr-5 {
    padding-right: 80px;
}

.pr-6 {
    padding-right: 100px;
}

.py-1 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py-4 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.py-5 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.py-6 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.px-1 {
    padding-left: 5px;
    padding-right: 5px;
}

.px-2 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-3 {
    padding-left: 30px;
    padding-right: 30px;
}

.px-4 {
    padding-left: 60px;
    padding-right: 60px;
}

.px-5 {
    padding-left: 80px;
    padding-right: 80px;
}

.px-6 {
    padding-left: 100px;
    padding-right: 100px;
}
/* =========== Padding =========== */

/* =========== Margin =========== */
.m-0 {
    padding: 0px;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.m-3 {
    margin: 30px;
}

.m-4 {
    margin: 60px;
}

.m-5 {
    margin: 80px;
}

.m-6 {
    margin: 100px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 60px;
}

.mt-5 {
    margin-top: 80px;
}

.mt-6 {
    margin-top: 100px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 60px;
}

.mb-5 {
    margin-bottom: 80px;
}

.mb-6 {
    margin-bottom: 100px;
}

.ml-1 {
    margin-left: 5px;
}

.ml-2 {
    margin-left: 10px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 60px;
}

.ml-5 {
    margin-left: 80px;
}

.ml-6 {
    margin-right: 100px;
}

.mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 10px;
}

.mr-3 {
    margin-right: 30px;
}

.mr-4 {
    margin-right: 60px;
}

.mr-5 {
    margin-right: 80px;
}

.mr-6 {
    margin-right: 100px;
}

.mx-1 {
    margin-right: 5px;
    margin-left: 5px;
}

.mx-2 {
    margin-right: 10px;
    margin-left: 10px;
}

.mx-3 {
    margin-right: 30px;
    margin-left: 30px;
}

.mx-4 {
    margin-right: 60px;
    margin-left: 60px;
}

.mx-5 {
    margin-right: 80px;
    margin-left: 80px;
}

.mx-6 {
    margin-right: 100px;
    margin-left: 100px;
}

.my-1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-4 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.my-5 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.my-6 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.mx-center {
    margin: auto;
}
/* =========== Margin =========== */ 

/* ================== Font Sizes ================== */
.fs-10 {
    font-size: 10px;
}
.fs-16 {
    font-size: 16px;
}
.fs-20 {
    font-size: 20px;
}
.fs-24 {
    font-size: 24px;
}
.fs-32 {
    font-size: 32px;
}
.fs-40 {
    font-size: 40px;
}
.fs-50 {
    font-size: 50px;
}
.fs-60 {
    font-size: 60px;
}
.fs-70 {
    font-size: 70px;
}
.fs-80 {
    font-size: 80px;
}
/* ================== Font Sizes ================== */

/* ================== Font Weights ================== */

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
}

.f-bold {
    font-weight: bold;
}

.f-200 {
    font-weight: 200;
}

.f-300 {
    font-weight: 300;
}

.f-400 {
    font-weight: 400;
}

.f-500 {
    font-weight: 500;
}

.f-600 {
    font-weight: 600;
}

.f-700 {
    font-weight: 700;
}

/* ================== Font Weights ================== */

* {
/*    font-family: 'Gupter', serif;*/
/*    font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
/*
    font-family: 'Raleway', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
*/
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.d-inline {
    display: inline-block;
}

.w-20 {
    width: 20%;
    margin: auto;
}

.w-30 {
    width: 30%;
    margin: auto;
}

.w-40 {
    width: 40%;
    margin: auto;
}

.w-50 {
    width: 50%;
    margin: auto;
}

.w-60 {
    width: 60%;
    margin: auto;
}

.w-80 {
    width: 80%;
    margin: auto;
}

col-lg-8 {
    width: 64.64%;
}

col-md-10 {
    width: 80.33%;
}

col-sm-12 {
    width: 100%;
}

section {
    width: 90%;
    margin: auto;
    margin-top: 120px;
}

.hr1 {
    margin: 1px auto;
    border: 1px solid red;
    width: 30%;
}

.mycontainer {
    width: 90%;
    margin: auto;
}

.more_intro {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

/* ============================================
2. Section Two Start 
============================================ */
.header-extradiv {
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}

.extra_div {
    background-color: #fff;
    border: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: 0.3s;
}

.extra_div h5, .servicediv h2 {
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

.extra_div:hover {
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}
/* ============================================
    Section Two End 
============================================ */

/* ============================================
4.  Section Four Start 
============================================ */
#mx_originals .card:hover {
    box-shadow: 0 0 0 0 #fff;
    transform: translateY(-4px);
}
#top_channles .horizontal:hover {
    box-shadow: 4px 4px 10px 0 #ddd;
    transform: translateY(0px);
}

.project_works {
    background-image: url('../img/bgabout.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    margin: 60px 0;
}

.project_works .headings h5 {
    color: #fff;
}

.project_works h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.project_works p {
    font-size: 16px;
    color: #fff;
    text-align: center;
}
/* ============================================
    Section Four End 
============================================ */

/* ============================================
5.  Section Five Start(Pricing)
============================================ */
.pricing {
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}

.pricing:before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: -1;
    background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
}

.money {
    font-size: 40px;
    line-height: 1;
    color: #606060;
}

.card {
    transition: 0.4s ease;
}

.card-header {
    font-size: 1.6rem;
    background: #fff!important;
    padding: 25px 9px!important;
    font-weight: bold;
    border: 0.5px solid #ddd;
}

.card-body li {
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}

.card-footer {
    background: white!important;
    padding: 30px 0px!important;
    border: 0.5px solid #ddd;
}

.card-footer a {
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 90px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    text-align: center;
}

.card:hover .card-footer a {
    color: #fff;
    background: #50d1c0;
    text-decoration: none;
    transition: 0.4s;
/*    box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);*/
}

.card:hover {
    transform: translateY(-20px);
    box-shadow: 0 0 26px 0 rgba(0,0,0,0.3);
}

.card:hover .card-header, .card:hover .money {
    color: #50d1c0;
    transition: 0.4s;
}

.pricing_card_second {
    transform: translateY(-20px);
}
/* ============================================
    Section Five End(Pricing)
============================================ */

.website_footer {
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-attachment: fixed;
}

.website_footer h6 {
    text-align: left;
    color: #fff;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 1.6px;
    margin-bottom: 40px;
}

.website_footer p {
    text-align: left;
    color: #fff;
    font-size: 14px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}

.website_footer li a {
    text-align: left;
    color: #fff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.website_footer li a:hover {
    color: deepskyblue;
    text-decoration: underline;
}

.website_footer .footer_copyright {
    border-top: 1px solid grey;
}

/* ======================================== About CSS ================================== */

.about_bg {
    background-image: url('../img/bgabout.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* ====================== Media Queries ==================== */
@media (min-width: 320px) and (max-width: 999.99px) {
    #top_carousel img {
        height: 200px;
    }
    
    #slider_two .mx-center img {
        width: 210px;
        height: 130px;
    }
}